backend_plant_architecture/data/architecture-data/arbor-reconstructions/
backend_plant_architecture/data/results/null-models/
backend_plant_architecture/data/results/statistics/
backend_plant_architecture/data/results/pareto-fronts/
backend_plant_architecture/figs/drawings/pareto-front-drawings/
backend_plant_architecture/__pycache__/