.libre-franklin-mainfont {
  font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

:root {
    --white: #F9F8F8;
    --green: #538D7C;
    --red: #C16E70;
    --blue:#272838;
    --blue-hover: #989898;
    --red-hover: #835859;
  }

body {
    font-family: "Libre Franklin", Arial, sans-serif;
    background-color: var(--blue);
    color: var(--white);
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0px;
    text-align: center;
    padding-top: 25px;
    font-weight: normal;
    font-size: 2em;
}

h3{
    color: var(--blue);
    background-color: var(--white);
    text-align: center;
    font-size: 1.5em;
    padding: 10px;
    padding-top: 0;
    padding-bottom: 20px;
    margin: 0;
}

a{
    text-decoration: none;
}

/*HEADER STYLE*/

.header{
    background-color: var(--white);
    color: var(--blue);
    width: 100%;
    height: 10%;
    margin-top: 0px;
}

.sprout-image{
    display: block;
    width:40%;
    margin-left: auto;
    padding: 0;
}

.menu{
    display: flex;
    justify-content: left;
    background-color:var(--white);
}

.upload:hover{
    background-color: var(--red-hover);
}

.header-text{
    width: 60%;
}

.title {
    display: flex;
    justify-content: left;
}

.menu-button:hover {
    color: var(--blue-hover)
}

.cur-page {
    color: var(--blue-hover)
}

/*FOOTER*/

.footer-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7%;
    background-color: var(--white);
    color: var(--blue);
    padding: 10px;
  }

.footer-text{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7%;
    margin-top: 10px;
}

/*HOME BODY STYLE*/

.home-body{
    height: 83%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.samples{
    margin-top: 30px;
    height: 100%;
    width: 100%;
    border-spacing: 20px;
    border-collapse: separate;
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    align-items: center;
}

.sample-titles{
    height: 10%;
    font-size: 1.5em;
    font-weight: normal;
}

.img-title{
    width: 33.3%;
    font-weight: normal;
}

.sample-images{
    height: 300px; /* TO BE FIXED W REAL IMAGES */
    width: 300px;
    /*max-height: 100%;
    max-width: 100%;*/
}

.graph{
    background-color: var(--white);
    margin: 10%;
    padding: 150px;
}

.upload{
    background-color: var(--red);
    color: var(--white);
    padding: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 10px;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}

/*ABOUT BODY STYLE*/

    .about-body{
        height: 83%;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
    }

    .about-text{
        height: 10%;
        font-size: 1.5em;
        font-weight: normal;
    } 

    .about-page-title{
        margin: 0px;
        text-align: center;
        padding-top: 25px;
        font-weight: normal;
        font-size: 2em;
    }
    
    .about-page-text{
        color: var(--blue);
        background-color: var(--white);
        text-align: center;
        font-size: 1.5em;
        padding: 10px;
        padding-top: 0;
        padding-bottom: 20px;
        margin: 0;
    }

/* UPLOAD STYLE */
    .upload-button-container{
        width: 100%;
    }

    .fileslider {
        -webkit-appearance: none;
        appearance: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 66%;
        justify-content: center;
        height: 20px;
        background: var(--green);
        outline: none;
        border-radius: 25px;
      }

    .fileslider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        border: none;
        border-radius: 50%; 
        background: var(--white);
        cursor: pointer;
    }

    .fileslider::-moz-range-thumb { /*I spent so long wondering why it didn't work...It's because I'm on mozilla ;-; */
        width: 25px;
        height: 25px;
        border: none;
        border-radius: 50%;
        background: var(--white);
        cursor: pointer;
      }