:root {
    --my-white: #F9F8F8;
    --my-green: #538D7C;
    --my-red: #C16E70;
    --my-blue:#272838;
  }

body {
    font-family: Arial, sans-serif;
    background-color: var(--my-blue);
    color: var(--my-white);
    margin: 0;
    padding: 0;
}

.header{
    background-color: var(--my-white);
    color: var(--my-blue);
    width: 100%;
    height: 100px;
    margin-top: 0px;
}

h1 {
    margin: 0px;
    text-align: center;
    padding-top: 25px;
}

.menu{
    display: flex;
}

h3{
    color: var(--my-blue);
    background-color: var(--my-white);
    text-align: center;
    width: 20%;
    padding-left: 15%;
    padding-right: 15%;
    margin: 0;
}

.samples{
    margin-top: 30px;
    width: 100%;
}

.sample-titles{
    height: 10%;
    font-size: 1.5em;
}

.sample-images{
    height: 80%
}

.graph{
    background-color: var(--my-white);
    margin: 10%;
}

.upload{
    background-color: var(--my-red);
    color: var(--my-white);
    padding: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 10px;
    border: none;
    font-size: 1.5em;
}