.libre-franklin-mainfont {
  font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

:root {
    --white: #F9F8F8;
    --green: #538D7C;
    --red: #C16E70;
    --blue:#272838;
    --blue-hover: #989898;
    --red-hover: #835859;
  }

body {
    font-family: "Libre Franklin", Arial, sans-serif;
    background-color: var(--blue);
    color: var(--white);
    margin: 0;
    padding: 0;
}

.header{
    background-color: var(--white);
    color: var(--blue);
    width: 100%;
    height: 100px;
    margin-top: 0px;
}

h1 {
    margin: 0px;
    text-align: center;
    padding-top: 25px;
    font-weight: normal;
    font-size: 2em;
}

.menu{
    display: flex;
    justify-content: left;
    background-color:var(--white);
}

h3{
    color: var(--blue);
    background-color: var(--white);
    text-align: center;
    font-size: 1.5em;
    padding: 10px;
    padding-top: 0;
    padding-bottom: 20px;
    margin: 0;
}

.samples{
    margin-top: 30px;
    width: 100%;
    border-spacing: 20px;
    border-collapse: separate;
}

.sample-titles{
    height: 10%;
    font-size: 1.5em;
    font-weight: normal;
}

.img-title{
    width: 33.3%;
    font-weight: normal;
}

.sample-images{
    height: 300px;
}

.graph{
    background-color: var(--white);
    margin: 10%;
}

.upload{
    background-color: var(--red);
    color: var(--white);
    padding: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 10px;
    border: none;
    font-size: 1.5em;
}

.upload:hover{
    background-color: var(--red-hover);
}

.sprout-image{
    display: block;
    width:40%;
    margin-left: auto;
    padding: 0;
}

.header-text{
    width: 60%;
}

.title {
    display: flex;
    justify-content: left;
}

.menu-button:hover {
    color: var(--blue-hover)
}

.cur-page {
    color: var(--blue-hover)
}

a{
    text-decoration: none;
}

.footer-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7%;
    background-color: var(--white);
    color: var(--blue);
    padding: 10px;
  }

.footer-text{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7%;
}